@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
html {
  height: 100%;
}
body {
  /* Primary */

  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral */
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
  background-image: url("/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position-y: -15%;
  margin: 0;
  height: inherit;
}

.mainCard {
  /* width: 450px; */
  width: 24.2vw;
  /* height: 697px; */
  height: 72vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 25px 20px 0 hsla(245, 75%, 52%, 0.082);
}

.heroIMG {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.summary {
  text-align: center;
  width: 90%;
}
h2 {
  font-family: "Red Hat Display";
  font-weight: 900;
  margin-top: 45px;
  font-size: 28px;
  color: var(--Dark-blue);
}
p {
  margin: -7px 30px;
  font-size: 16px;
  font-family: "Red Hat Display";
  font-weight: 500;
  opacity: 0.6;
  color: var(--Dark-blue);
  line-height: 26px;
}

.plan {
  display: flex;
  text-align: center;
  background-color: var(--Very-pale-blue);
  border-radius: 14px;
  width: 79%;
  height: 50%;
  align-items: center;
  margin: 26px 0 30px 0;
}
.music-icon {
  width: 48px;
  height: 48px;
  margin: 25px;
}
.plan-price {
  font-family: "Red Hat Display";
}
.plan-name {
  padding-top: 5px;
  margin-left: -5px;
}
.price {
  margin-top: -10px;
  margin-left: -5px;
  opacity: 0.4;
}
a {
  margin: 0px 0 0 93px;
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: bold;
  color: var(--Bright-blue);
}
.buttons {
  display: flex;
  flex-direction: column;
  width: 79%;
  height: 100%;
}
button {
  padding: 15px;
  font-family: "Red Hat Display";
  font-weight: 700;
  border-radius: 12px;
  border: none;
  font-size: 15px;
}
.proceedBtn {
  background-color: var(--Bright-blue);
  color: white;
  margin: 0 0 16px 0;
  box-shadow: 0 15px 30px 3px hsla(245, 75%, 52%, 0.233);
  font-family: "Red Hat Display";
  padding-bottom: 15px;
}
.cancelBtn {
  background-color: inherit;
  opacity: 0.5;
  font-weight: 900;
}

button:hover {
  cursor: pointer;
}
.proceedBtn:active {
  background-color: #766cf1;
}
.cancelBtn:active {
  opacity: 1;
}
a:active {
  color: #766cf1;
  text-decoration: none;
}
